<app-modal-header [title]="'Ajouter un etablissement'"></app-modal-header>

<ion-content>
  <div class="w-full h-full flex justify-center">
    <div class="w-full max-w-lg h-full p-4">

      <form>
        <div class="mb-6 flex justify-center bg-cyan-200 p-4">
          <img class="object-contain" (click)="fileInput.click()"
            [src]="data.logo ||  'assets/img/logo.png' " alt="Current profile photo" />
          <input type="file" (change)="onSelectFile($event)" hidden #fileInput />
        </div>
        <div class="grid gap-6 mb-6 2xl:grid-cols-2">

          <div>
            <label for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Etablissement</label>
            <input type="text" id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="name" [(ngModel)]="data.name" placeholder="LYCEE NASSABLE II" required>
          </div>
          <div>
            <label for="inspection"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Inspection</label>
            <input type="text" id="inspection"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="inspection" [(ngModel)]="data.inspection" placeholder="Inspection de Tone" required>
          </div>
          <div>
            <label for="phone1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Contact
              1</label>
            <input type="tel" id="phone1"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="phoneNumber" [(ngModel)]="data.phoneNumber" placeholder="(+228) 90 00 00 00"
              pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
          </div>
          <div>
            <label for="phone2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Contact2</label>
            <input type="tel" id="phone2"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="phoneNumber2" [(ngModel)]="data.phoneNumber2" placeholder="(+228) 90 00 00 01"
              pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
          </div>
          <div>
            <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Adresse</label>
            <input type="text" id="address"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="address" [(ngModel)]="data.address" placeholder="Dapaong, Togo" required>
          </div>
          <div>
            <label for="po-box" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Boite
              Postale</label>
            <input type="number" id="po-box"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="poBOX" [(ngModel)]="data.poBOX" placeholder="1032" required>
          </div>

        </div>
        <ion-slides class="w-full h-full mb-2 "  pager="ios" [options]="slideOpts">
          <ion-slide *ngFor="let theme of themes" class="w-full h-full " >
            <div [ngClass]="{'shadow-lg flex justify-center h-full w-full': true ,'border-2 border-green-700 border-dotted': data.cardTheme === theme.name}" (click)="data.cardTheme = theme.name">
              <app-card [data]="defaultStudent" [theme]="theme.name"  ></app-card>
            </div>
          </ion-slide>
     
        </ion-slides>
        <button (click)="onValidate()"
          class="text-white mb-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Valider</button>
      </form>
    </div>
  </div>
</ion-content>