
<app-modal-header [title]="'Ajouter une  annee scolaire'"></app-modal-header>

<ion-content>
  <div class="w-full h-full flex justify-center">
    <div class="w-full max-w-lg h-full p-4">

      <form>
        <div class="grid gap-4 mb-6 grid-cols-2">

          <div class="mb-6">
            <label for="start" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Annee de debut</label>
            <input type="number" id="start"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="start" [(ngModel)]="data.start" placeholder="2022"  required>
          </div>
          <div class="mb-6">
            <label for="end" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Annee de Fin</label>
            <input type="number" id="end"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="end" [ngModel]="data.start + 1" disabled placeholder="2023" required>
          </div>
        </div>
        <div>
          <label for="manager-name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Directeur</label>
          <div class="grid gap-6 mb-6 grid-cols-2">
            <select name="" id=" manager-sex"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="managerSex" [(ngModel)]="data.managerSex" placeholder="Madame" required>
              <option [value]="SEX.M">Monsieur</option>
              <option [value]="SEX.F">Madame</option>
            </select>
            <input text="text" id="manager-name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name="managerName" [(ngModel)]="data.managerName" placeholder="AMA KPATCHA" required>
          </div>
        </div>
        <div *ngIf="id && data.signature">
          <div class="mb-6">
            <label for="start" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Signature preenregistree du directeur</label>
            <img [src]="signature" class="w-full" alt="">
          </div>
        </div>
        <div>
          <div class="mb-6">
            <label for="start" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Signature du directeur <span *ngIf="signature" (click)="drawClear()" class="text-xs text-end text-red-600">Effacer</span></label>
          <signature-pad #signatureRef [options]="signaturePadOptions" (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)"></signature-pad>
          </div>
        </div>
        <button (click)="onValidate()"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ajouter</button>
      </form>
    </div>
  </div>
</ion-content>