<app-header [title]="'Liste des annees scolaires'" [subtitle]="establishment?.name"></app-header>
<ion-content>
  <div class="w-full h-full flex justify-center bg-">
    <div class="w-full max-w-xl h-full p-4">

      <div class="mt-5 grid grid-cols-2 lg:grid-cols-3 gap-4" *ngIf="schoolYears.length > 0; else noData">
        <div (click)="displayClasses(schoolYear.id)" *ngFor="let schoolYear of schoolYears"
          class="shadow-md text-blue-900 bg-white  p-4 ">
          <h3 class="text-lg text-center">{{ schoolYear.start }} - {{ schoolYear.end }} <button
              (click)="onEdit(schoolYear.id)">
              <ion-icon name="create-outline"></ion-icon>
            </button>
          </h3>
          <hr>
          <h4 class="text-sm"> <span *ngIf="schoolYear.managerSex === 'M'; else sexF">M.</span>
            <ng-template #sexF><span>Mme </span></ng-template>{{ schoolYear.managerName }}
          </h4>
        </div>
      </div>
      <ng-template #noData>
        <div class="h-full w-full flex justify-center items-center">
          <p class="text-md text-gray-500">Pas de donnees!</p>
        </div>
      </ng-template>

    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>