<ion-header>
  <div class="w-full grid  grid-cols-1  lg:grid-cols-2 items-center gap-2 bg-blue-900">
    <div class="px-4 flex gap-8">
      <button *ngIf="!noReturn" class="text-md text-primary" (click)="onBack()">Retour</button>
      <div >
        <h1 class="text-lg text-center text-white">{{ title }}</h1>
        <p class="text-xs text-center text-gray-300">{{ subtitle }} <span *ngIf="optional">{{ optional }}</span></p>
      </div>
    </div>
   
    <div class="flex justify-center w-full">
        <ion-searchbar color="light" placeholder="Recherche" mode="ios" (ionChange)="onSearchChange($event)"></ion-searchbar>
    </div>
  </div>
</ion-header>