.print-page {
  width: 210mm;
  height: 297mm;
}
@media print {
  .print-page {
    width: 100%;
    height: 100%;
    size: A4 portrait;
    page-break-after:always;
  }
}

@page {
  size: A4 portrait;
  page-break-after:always;
}
