/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

// ion-modal.print {
//     --height: 100%;
//     --width: 100%;
// }

// .print-page {
//   width: 210mm;
//   height: 297mm;
//   padding: 5px;
// }
@media print {
  body {
    position: relative !important;
  }
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { display: block; }
  .print-page {
    // width: 100%;
    // height: 100%;
    size: A4 portrait;
    page-break-after: always;
    padding: 0;
    margin: 0;
  }
}

ion-slide {
  display: block;
  height: 100%;
}

.swiper-slide {
  width: 100vw;
 img {
      height: inherit !important;
      width: inherit !important;
 }
}


// .break-after {
//   page-break-after: always;
// }
